body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    background-color: #f9f7f1;
}

#title {
    font-family: 'Lora', serif;
    font-weight: 1000;
    font-size: 3.75rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    color: black;
}

hr.long-line {
    border: none;
    border-top: 4px double black;
    width: 100%;
    margin: 10px 0;
}

h2 {
    font-family: 'Lora', serif;
    text-align: center;
    color: #333;
    font-weight: 700;
    font-size: 2.75rem;
    margin-top: 10px;
    margin-bottom: 10px;
}


#content {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

#map, #scatterplot,#radical, #linegraph, #waterfall {
    width: 100%;
    max-width: 1500px;
    height: auto;
    margin: 0; 
    text-align: center;
}

.description { 
    width: 100%;
    max-width: 1500px;
    height: auto;
    text-align: center;  
}




