body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    background-color: #f9f7f1;
    font-size: 1.2rem;
}

#title {
    font-family: 'Lora', serif;
    font-weight: 1000;
    font-size: 3.4rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    color: black;
}

hr.long-line {
    border: none;
    border-top: 4px double black;
    width: 100%;
    margin: 10px 0;
}

h2 {
    font-family: 'Lora', serif;
    text-align: center;
    color: #333;
    font-weight: 700;
    font-size: 2.75rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.description {
    width: 100%;
    max-width: 1500px;
    display: flex; /* Flexbox for side-by-side layout */
    justify-content: space-between; /* Spread the content evenly */
    align-items: flex-start; /* Align items to the top */
}

.left, .right {
    width: 50%; /* Ensure both sections take equal space */
    box-sizing: border-box; /* Include padding in width calculations */
}

.left {
    padding-left: 200px;
    border-right: 2px solid #2f2f2f;
}

.right {
    padding-left: 50px; /* Padding to the left */

}

.b {
    font-size: 2rem;
}




.subtext {
    font-family: 'Verdana', serif;
    font-size: 1rem;
    color: #2f2f2f;
    line-height: 1.5; /* Add line-height for better readability */
}



#content {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

#scatterplot,#radical, #linegraph, #waterfall {
    width: 100%;
    max-width: 1500px;
    height: auto;
    margin: 0; 
    text-align: center;
    padding-bottom: 30px;
}

#map {
    padding-left: 50px;
    width: 100%;
    max-width: 1500px;
    height: auto;
    margin: 0; 
    text-align: center;
}







