body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    background-color: #f9f7f1;
    font-size: 1.2rem;
}

#title {
    font-family: 'Lora', serif;
    font-weight: 1000;
    font-size: 3.4rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    color: black;
}

hr.long-line {
    border: none;
    border-top: 4px double black;
    width: 100%;
    margin: 10px 0;
}

h2 {
    font-family: 'Lora', serif;
    text-align: center;
    color: #333;
    font-weight: 700;
    font-size: 2.75rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.description {
    width: 100%;
    max-width: 1500px;
    display: flex; /* Flexbox for side-by-side layout */
    justify-content: space-between; /* Spread the content evenly */
    align-items: flex-start; /* Align items to the top */
}

.left, .right, .left2, .left3, .left4, .left5, .left6 {
    width: 50%; 
    box-sizing: border-box; 
    margin-bottom: 10px;
}

.left6 {
    padding-left: 30px;
    padding-right: 30px;
    border-right: 2px solid #2f2f2f;

}

.left5 {
    padding-left: 70px;
    padding-right: 30px;
    border-right: 2px solid #2f2f2f;

}

.left4 {
    padding-left: 10px;
    padding-right: 30px;
    border-right: 2px solid #2f2f2f;

}


.left3 {
    padding-left: 30px;
    padding-right: 10px;
    border-right: 2px solid black;

}

.left2 {
    padding-left:70px;
    padding-right: 10px;
    border-right: 2px solid black;

}

.left {
    padding-left: 80px;
    padding-right: 30px;
    border-right: 2px solid #2f2f2f;

}

.right {
    padding-left: 30px;

}


b {
    font-size: 1.25rem;
}

.subtext {
    font-family: 'Verdana', sans-serif;
    font-size: 1rem;
    color: #2f2f2f;
    line-height: 1.5; 
}

.footer {
    width: 100%;
    background-color: #2f2f2f;
    padding: 10px;
    font-size: 13px;
    color: white;
    margin-top: 30px;
    line-height: 1.5;
}

#content {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

#scatterplot,#radical, #linegraph {
    width: 100%;
    max-width: 1500px;
    height: auto;
    margin: 0; 
    text-align: center;
    padding-bottom: 10px;
}

#map {
    padding-left: 50px;
    width: 100%;
    max-width: 1500px;
    height: auto;
    margin: 0; 
    text-align: center;
    padding-bottom: 10px;
}


#bump_chart, #waterfall {
    padding-left: 70px;
    width: 100%;
    max-width: 1500px;
    height: auto;
    margin: 0; 
    text-align: center;
    padding-bottom: 10px;
}
 /* {
    width: 100%;
    padding-left: 70px;
    max-width: 1500px;
    height: auto;
    margin: 0; 
    text-align: center;
    padding-bottom: 30px;
} */




